main {
  height: var(--desktop-height-scaled);
  width: var(--desktop-width-scaled);
  background: var(--bckg-color) url("../assets/images/background-desktop.svg")
    no-repeat center;
  background-size: 100% 100%;
  padding: 5.8% 7.78%;
  position: relative;
  z-index: 1;
}

main::before {
  position: absolute;
  inset: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-image: var(--clr-background-gradient);
  opacity: 75%;
  z-index: -1;
}

h1,
h2,
h3,
p {
  font-weight: lighter;
}

h1 {
  position: relative;
  text-align: center;
  font-size: var(--desktop-heading-xl);
  background-image: var(--clr-blue-gradient);
  background-clip: text;
  color: transparent;
  transform-style: preserve-3d;
  margin-bottom: 5.7%;
}
