:root {
  --bckg-color: hsl(242, 74%, 27%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  display: grid;
  place-items: center;
  background-color: var(--bckg-color);
}
