@font-face {
  font-family: "MouseMemoirs";
  src: url("./assets/fonts/MouseMemoirs-Regular.ttf") format("truetype");
}

:root {
  --bckg-color: hsl(242, 74%, 27%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  font-family: MouseMemoirs, fantasy;
  background: var(--bckg-color) url("./assets/images/background-desktop.svg")
    no-repeat center;
  background-size: 100%;
}
